<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BudgetWiseSolutions">

        <!-- Register Activity -->
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.MenuActivity" />
        <activity android:name=".activity.ExpensesActivity" />
        <activity android:name=".activity.IncomeActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.BudgetActivity" />
        <activity android:name=".activity.ForgetPasswordActivity" />
        <activity android:name=".activity.UpdatePasswordActivity" />
        <activity android:name=".activity.ExpenseUpdateActivity"/>
        <!-- Login Activity -->
        <activity
            android:name=".activity.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.BudgetWiseSolutions">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
